*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

header #logo{
    background: linear-gradient(160deg, rgba(118,88,73,1) 3%, rgba(29,29,29,1) 30%, rgba(29,29,29,1) 70%, rgba(118,88,73,1) 97%);
    border-radius: 40px;
    height: 45px;
    width: 330px;
    margin-top: 1vh;
    margin-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Oi;
    font-size: 2rem;
    color: #dfdfc9;
}

#workbench{
    width: 100%;
    height: 76vh;
}

#workbench-container{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background: linear-gradient(130deg, #765849 3%, rgba(29,29,29,1) 30%, rgba(29,29,29,1) 70%, rgba(118,88,73,1) 97%);
    border-radius: 20px;
    padding: 10px;
}

#pc-builder{
    height: 100%;
    width: 75%;
    border-right: 2px solid #765849 ;
    padding: 10px;
    text-align: center;
    padding: 20px 10%;
}

#pc-builder #pc-img{
    width: 100%;
    height: 100%;
    position: relative;
}

#pc-builder img{
    /* width: 100%; */
    width: 100%;
    height: 100%;
}

#rotate-gpu, #show-pump-button, #show-mb-button, #show-gpu-button, #show-powersupply-button, #show-ssd-button{
    position: absolute;
    width: 9%;
    height: 9%;
    left: 27%;
    top: 20%;
    background: transparent;
    border: none;
}

#show-mb-button{
    left: 25%;
    top: 18%
}

#show-gpu-button{
    left: 22%;
    top: 42%;
}

#rotate-gpu{
    left: -12%;
    top: 42%;
    color: white;
}

#show-powersupply-button{
    left: 21%;
    top: 68% 
}

#show-ssd-button{
    top: 17%;
    left: 55%;
}

#show-pump-button{
    top: 56%;
    left: 54%;
}

#pc-components .component-frame:hover, #rotate-gpu:hover, #show-pump-button:hover, #show-mb-button:hover, #show-gpu-button:hover, #show-powersupply-button:hover, #show-ssd-button:hover{
    transform: scale(1.2);
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px white);
}

#pc-builder .mb-img img{
    width: 35%;
    height: 42%;
    position: absolute;
    left: 11%;
    top: 10.5%;
}

#pc-builder .gpu-img img{
    width: 47%;
    height: 18%;
    position: absolute;
    left: 6%;
    top: 36%;
    z-index: 3;
}

#pc-builder #normal-gpu-standing img{
    width: 50%;
    height: 10%;
    position: absolute;
    top: 42%;
    left: 3%;

}

#pc-builder .powersupply-img img{
    width: 29%;
    height: 25%;
    position: absolute;
    top: 60%;
    left: 10%;
}

#pc-builder .ssd-img img{
    width: 12%;
    height: 18%;
    position: absolute;
    left: 53.5%;
    top: 12%;
}

#pc-builder .pump-img img{
    width: 16%;
    height: 33%;
    position: absolute;
    top: 36%;
    left: 52%;
    z-index: 2;
}

#normal-gpu-standing img:hover, .pump-img img:hover, .mb-img img:hover, .gpu-img img:hover, .powersupply-img img:hover,#pc-builder .ssd-img img:hover{
    filter: drop-shadow(0px 0px 10px white);
}

#pc-components{
    height: 100%;
    width: 40%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
}

#pc-components #text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #dfdfc9;
    font-weight: 900;
}

.scroll::-webkit-scrollbar{
    background-color: #4d4d4d;
    border-radius: 20px;
    padding-right: 10px;
}

.scroll::-webkit-scrollbar-thumb{
    background-color: #765849;
    border-radius: 20px;
}

#pc-components .component-frame{
    border-bottom: 2px solid #765849;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    color: #dfdfc9;
}

#pc-components img{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    
}

#pc-components .component-description{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

#pc-components .component-frame h4{
    border-bottom: 1px solid #765849;

}

#pc-components .component-frame p{
 margin: 10px;
}

#pc-components>.component-frame>.component-description>p::after{
    content: " zł";
}

#cost-summary{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    background: linear-gradient(16deg, #765849 3%, rgba(29,29,29,1) 30%, rgba(29,29,29,1) 70%, rgba(118,88,73,1) 97%);
    border-radius: 20px;
    padding: 10px;
    width: 80%;
    height: 12vh;
    text-align: center;
    color: #dfdfc9;
}

#cost-summary h2{
    border-bottom: 1px solid rgb(118, 88, 73) ;
    padding: 2px;
    font-size: 1.8rem;
}

#cost-summary #costSummary-container{
    display: flex;
    width: 100%;
    margin-top: 10px;
}

#cost-summary #costSummary-container #component-cost{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

#costSummary-container h3{
    border-bottom: 2px solid #765849;
    margin-bottom: 5px;
}

#costSummary-container #cart-summary{
    width: 20%;
    border-left: 2px solid #765849;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media(min-width: 2100px){
    #workbench{
        /* padding: 0 15%; */
        margin: 0 auto;
        width: 60%;
    }

    #cost-summary{
        /* padding: 0 15%; */
        width: 48%;
    }

}
